* {
    color: white;
}

.navbar {
    background-color: grey;
    width: 100%;
    background: transparent
}

.navbar ul {
    overflow: auto;

}

.navbar li {
    float: right;
    list-style: none;
    margin: 13px 20px;

}

.navbar li a:hover {
    color: lightslategrey;

}

.navbar li a {
    padding: 13px 3px;
    text-decoration: none;
    color: white;
}

.logo {
    float: left;
    font-size: 24px;
    color: white;
    margin: 10px 1px;
}

.body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/background.jpg);
}

.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin: 60px 80px;
    padding: 40px;
    border-style: solid;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}

.introtext {
    max-width: 60%;
}

.introtext .hello {
    font-size: 22px;
}

.introtext h2 {
    margin: 15px 0px;
    font-size: 32px;
}

.introtext h2:hover {
    transition: magnify 1.3s ease-in-out;
    transform: scale(1.05);
}

.introtext p {
    font-size: 18px;
    line-height: 1.6;
}

.introimage img {
    width: 250px;
    height: auto;
    border-radius: 4%;
    border: 3px solid white;
}

.introimage img:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
}