* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-image: url(images/nature-background.jpg);
    overflow-x: hidden;
}


.navbar {
    width: 100%;
    background: transparent;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 40px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
}

/* Menu */
.nav-links {
    display: flex;
    gap: 25px;
    list-style: none;
}

.nav-links li a {
    text-decoration: none;
    font-size: 16px;
}

.nav-links li a:hover {
    color: lightslategrey;
}


.intro {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 60px 80px;
    padding: 40px;
    border: 1px solid white;
    border-radius: 10px;
    background-color: rgba(0, 0, 0, 0.2);
}

.introtext {
    max-width: 60%;
}

.introtext .hello {
    font-size: 22px;
}

.introtext h2 {
    margin: 15px 0;
    font-size: 32px;
}

.introtext p {
    font-size: 18px;
    line-height: 1.6;
}

.introimage img {
    width: 250px;
    border-radius: 6%;
    border: 3px solid white;
}


@media (max-width: 768px) {

    .nav-container {
        flex-direction: column;
        gap: 12px;
    }

    .nav-links {
        flex-wrap: wrap;
        justify-content: center;
        gap: 15px;
    }

    .intro {
        flex-direction: column;
        text-align: start;
        margin: 20px;
        padding: 20px;
    }

    .introtext {
        max-width: 100%;
    }

    .introimage img {
        width: 180px;
        margin-top: 20px;
    }
}
